.App {
  text-align: center;
}

.pokemonList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemonCard {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 300px;
  margin: 5px;
  padding: 5px;
}