.App {
  text-align: center;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px;
  border: 1px gray solid;
  box-shadow: 1px 1px 10px black;
  padding: 5px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.pokeImg {
  width: 20%;
}

.fire {
  color: orange;
  text-shadow: 2px 2px black;
}

.normal {
  color: grey;
  text-shadow: 2px 2px black;
}

.electric {
  color: #FCFF33;
  text-shadow: 2px 2px black;
}

.bug {
  color: darkgreen;
  text-shadow: 2px 2px black;
}

.psychic {
  color: #EAA0BA;
  text-shadow: 2px 2px black;
}

.poison {
  color: darkmagenta;
  text-shadow: 2px 2px black;
}

.dragon {
  color: #273FC8;
  text-shadow: 2px 2px black;
}